<h1>FeatureToggler</h1>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<h3>TestFeature</h3>
			</mat-panel-title>

			<mat-panel-description>
			<p>	Описание тестовой фичи Описание тестовой фичи Описание тестовой фичи Описание тестовой фичи </p>
      </mat-panel-description>
<mat-panel-description>
				<a href="#">Отключен</a>
		
				<button mat-icon-button aria-label="Редактировать">
    <mat-icon>edit</mat-icon>
  </button>
			</mat-panel-description>


		</mat-expansion-panel-header>

		<app-features></app-features>

	</mat-expansion-panel>

  <mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<h3>TestFeature</h3>
			</mat-panel-title>

			<mat-panel-description>
			<p>	Описание тестовой фичи Описание тестовой фичи Описание тестовой фичи Описание тестовой фичи </p>
      </mat-panel-description>
<mat-panel-description>
				<a href="#">Отключен</a>
		
				<button mat-icon-button aria-label="Редактировать">
    <mat-icon>edit</mat-icon>
  </button>
			</mat-panel-description>


		</mat-expansion-panel-header>

		<app-features></app-features>

	</mat-expansion-panel>

    <mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<h3>TestFeature</h3>
			</mat-panel-title>

			<mat-panel-description>
			<p>	Описание тестовой фичи Описание тестовой фичи Описание тестовой фичи Описание тестовой фичи </p>
      </mat-panel-description>
<mat-panel-description>
				<a href="#">Отключен</a>
			
				<button mat-icon-button aria-label="Редактировать">
    <mat-icon>edit</mat-icon>
  </button>
			</mat-panel-description>


		</mat-expansion-panel-header>

		<app-features></app-features>

	</mat-expansion-panel>
</mat-accordion>