<h1>FeatureToggler</h1>

<mat-accordion class="example-headers-align">

	<mat-expansion-panel *ngFor="let featureGroup of featureGroups">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<h3>{{featureGroup.name}}</h3>
			</mat-panel-title>

			<mat-panel-description>
				<p> {{featureGroup.description}} </p>
			</mat-panel-description>
			<mat-panel-description>
        <button mat-button color="primary" [routerLink]="['status', featureGroup.featureId]">{{featureGroup.status}}</button>
				<button mat-icon-button aria-label="Редактировать" [routerLink]="['edit', featureGroup.featureId]">
    <mat-icon>edit</mat-icon>
  </button>
			</mat-panel-description>


		</mat-expansion-panel-header>

		<app-features [features]="featureGroup.features"></app-features>

</mat-expansion-panel>
</mat-accordion>